body{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    margin: 0;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: blue;
    
}
h1,.sidebar-nav{
    margin: 20px;
}
.content-page{
    display: grid;
    grid-template-rows: auto 1fr;
    
}
.header-container{
    background-color: aqua;
    display: grid;
}

.header-top{
   display: grid;
   grid-template-columns: repeat(5,auto);

}
.header-bottom{
    display: grid;
    grid-template-columns: repeat(5,auto);
}
.main-content-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.your-projects{
    margin: 20px;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
}
.project-card{

    background-color: orange;
    height: auto;
}
.project-svg{
    
}
.right-nav{
    display: grid;
    margin:20px;
}
.announcements-nav{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.trending-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}